:root {
    --dark:#018786;
    --light:#03dac6;
    --background: #cbc0ff;
    --lightpurp: #ab92f1;
    --grey: #909092;

    --header: #7158e6;
    --right: var(--grey);
    --bottom: var(--grey);
    --skillbg: white;
    --generalbg: white;
    --subdiv: #7158e6;
    --subdivborder: grey;
    --gradient: linear-gradient(-45deg, var(--header),var(--lightpurp))
}

/*Css for page*/

body {
    background-color: var(--background);
    margin:0;
    display: grid;
    grid-template-rows: 0.2fr 1fr 0.1fr;
    color:white;
    overflow: hidden;

}

/* css for grid */
.grid {
    display: grid;
}

/* header part */

.header {
    background-color: var(--header);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items:center;
}

.imgdiv {
    position: relative;
    right:25px;
    width:100px;
    height: 100px;
}

.img {
    height: 100%;
    width: 130%;
}

.name {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top:15px;
}

.options {
    width: 60px;
    height: 40px;

}

.optionsdiv {
    height: 40px;
    width: 150px;
    float:right;
    position: relative;
    top: 50%;
    margin-right:20px;
    text-align:right;
    
}


.navlistul {
    list-style-type:none;
    border:0px solid var(--lightpurp);
    background-color: white;
    width: 150px;
    padding:0px;
}
a {
    text-decoration: none;
    color:black;
}

.navlistul li {
    border:2px solid var(--lightpurp);
    margin: 0px auto;
    padding:10px;
 }

 .navlistul li:hover {
     background-color: var(--header);
     color:White;
 }
 .navlistul li:hover a {
     color:White;
 }


/*Css for Body*/

.signupdiv {
    color: black;
    margin: 30px 30px;
    height: 85%;
    background-color: white;
    padding-top: 20px;
    
}

.container {
    height: 100%;
}

.signupdiv h1 {
    margin-top:0;
    margin-bottom: 20px;
}



form {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 3fr;
    text-align: right;
    margin: 20px;
    height: calc(100% - 95px);
}

form label {
    margin-right: 10px;
    margin: 10px;
}

form input {
    height: 30px;
    width: 50%;
    padding: 0px 0px 0px 5px;
    border: 2px;
}

form input:hover {
    border-bottom:3px solid var(--lightpurp);
}

form input:focus {
    outline: none;
    border-bottom:3px solid var(--header);
}

.checkbox input {
    float: right;
    height: 20px;
    
}


.signedIn {
    text-align: left;
    position: relative;
    right:20px;
}

form button {
    grid-column: span 2;
    margin-top:10px;
    padding: 12px;
    margin-bottom:160px;
    background-color: var(--header);
    border-radius: 5px;
    color: white;
    font-size:25px;

}

/*Css for footer*/
.footer {
    background-color: red;
}



/*custom css*/
.nm {
    margin:0%;
}

.np {
    padding: 0;
}
.center {
    text-align: center;
}
.bg-red {
    background-color: red;
}
.full {
    width: 100%;
    height: 100%;
}

