
/*Css for Body*/

.noticeboard {
    background-color: white;
    height: 61vh;
    margin: 40px;
    border: 10px solid var(--header);
    border-right:0px;
    border-left: 0px;
    padding: 20px;
    color:var(--grey);
}
.noticeboard p {
    font-size: 12px;
    font-family: 'Chicle', cursive;
    font-family: 'Roboto', sans-serif;
}

.noticelist {
    padding: 20px;
}
.noticelist a {
    text-decoration: none;
    display: list-item;
    font-size:large;
    font-family: 'Chicle', cursive;
    font-family: 'Roboto', sans-serif;
    margin-bottom:30px;
    border-bottom:2px solid var(--header);
    color: black;
}

form {
    color: black;
}







/*Css for footer*/

.footer {
    background-color: var(--lightpurp);
}



/*custom css*/
.nm {
    margin:0%;
}

.np {
    padding: 0;
}
.center {
    text-align: center;
}
.bg-red {
    background-color: red;
}
.full {
    width: 100%;
    height: 100%;
}

.flex-center {
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

