
/*Css for Body*/

.container {
    margin-top: 15%;
    display:flex;
    flex-direction: rows;
    justify-content: center;
    align-items: center;
}
.image {
    box-shadow: 0px 0px 20px 15px var(--header)
}

.prev {
    height:60px;
    position:relative;
    left:30px;
}

.next {
    height:60px;
    position:relative;
    right:30px;
}

/*Css for footer*/

.footer {
    background-color: var(--lightpurp);
}

/*custom css*/
.nm {
    margin:0%;
}

.np {
    padding: 0;
}
.center {
    text-align: center;
}
.bg-red {
    background-color: red;
}
.full {
    width: 100%;
    height: 100%;
}

.flex-center {
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

