:root {
    --dark:#018786;
    --light:#03dac6;
    --background: #cbc0ff;
    --lightpurp: #ab92f1;
    --grey: #909092;

    --header: #7158e6;
    --right: var(--grey);
    --bottom: var(--grey);
    --skillbg: white;
    --generalbg: white;
    --subdiv: #7158e6;
    --subdivborder: grey;
    --gradient: linear-gradient(-45deg, var(--header),var(--lightpurp))
}


/*Css for page*/

body {
    background-color: var(--background);
    margin:0;
    display: grid;
    grid-template-rows: 150px 1fr 0.1fr;
    color:white;
    /* overflow: hidden; */

}

/* css for grid */
.grid {
    display: grid;
}

/* header part */

.header {
    background-color: var(--header);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    box-shadow: 0px 10px 10px 10px var(--lightpurp)
    
}

.logo {
    display: flex;
    flex-direction: row;
    align-items:center;
}

.imgdiv {
    position: relative;
    right:25px;
    width:100px;
    height: 100px;
}

.img {
    height: 100%;
    width: 150%;
}

.name {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top:15px;
    text-shadow: 8px 5px 10px var(--lightpurp);
}


.options {
    width: 60px;
    height: 40px;

}

.optionsdiv {
    height: 40px;
    width: 150px;
    float:right;
    position: relative;
    top: 50%;
    margin-right:20px;
    text-align:right;
    
}


.navlistul {
    list-style-type:none;
    border:0px solid var(--lightpurp);
    background-color: white;
    width: 150px;
    padding:0px;
}
a {
    text-decoration: none;
    color:black;
}

.navlistul li {
    border:2px solid var(--lightpurp);
    margin: 0px auto;
    padding:10px;
 }

 .navlistul li:hover {
     background-color: var(--header);
     color:White;
 }
 .navlistul li:hover a {
     color:White;
 }
/*Css for Body*/

.container {
    margin-top: 15%;
    display:flex;
    flex-direction: rows;
    justify-content: center;
    align-items: center;
}
.image {
    box-shadow: 0px 0px 20px 15px var(--header)
}

.prev {
    height:60px;
    position:relative;
    left:30px;
}

.next {
    height:60px;
    position:relative;
    right:30px;
}

/*Css for footer*/

.footer {
    background-color: var(--lightpurp);
}

/*custom css*/
.nm {
    margin:0%;
}

.np {
    padding: 0;
}
.center {
    text-align: center;
}
.bg-red {
    background-color: red;
}
.full {
    width: 100%;
    height: 100%;
}

.flex-center {
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

